.nav-container{
	width: -webkit-fit-content;
}

.nav-item{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #737373;
}

.nav-item:hover{
	text-decoration: none;
	color: azure;
}

.catList{
	height: 100%;
	width: 15%;
	margin-left: 105px;
	float: left;
	margin-top: 100px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 10px;
}

.adList{
	margin-left: 400px;
	margin-top: 100px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.each_index_ad{
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 10px;
	margin: 15px auto;
	width: 230px;
}

.adName{
	text-decoration: none;
	color: #303030;
}

.adName:hover{
	text-decoration: none;
	color: black;
}

.index_ad_photos{
	height: 200px;
	width: 203px;
	border-radius: 8px;
}

.catName{
	text-decoration: underline;
	color: #303030;
}

.catName:hover{
	text-decoration: none;
	color: black;
}

.details{
	position: absolute;
	margin-top: 100px;
	left: 9%;
}

.detail_picture{
	height: 400px;
	width: 300px;
}

.detail_part{
	float: left;
}

.detail_pic{
	float: right;
	margin-left: 50px;
}

.About{
	text-align: justify;
	position: relative;
	margin-top: 100px;
	padding-right: 500px;
	left: 21%;
}

.createAd-form{
	width: 400px;
	height: 520px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 15px;
	position: absolute;
	top: 20%;
	left: 40%;
	text-align: center;
}

.create-form{
	text-align: center;
	height: 40px;
	width: 300px;
	border-style: solid;
	border-radius: 5px;
	border-color: darkslategray;
}

.form-description{
	text-align: center;
    width: 300px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid darkslategray;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.category_select{
	margin-left: 30px;
	margin-bottom: 20px;
	width: 300px;
}

.NotFound{
	position: relative;
	left: 30%;
}

.yamcha{
	position: fixed;
	margin-top: 100px;
	left: 30%;
}

.yamchaText{
	margin-left: 50px; 
}

.addButton{
	margin-top: 10px;
	margin-left: 10px;
}

.logButton{
	margin-top: 10px;
	margin-left: 20px;
}

.LoginPage{
	width: 400px;
	height: 400px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 15px;
	position: absolute;
	top: 20%;
	left: 40%;
	text-align: center;
}

.log-form{
	text-align: center;
	height: 40px;
	width: 300px;
	border-style: solid;
	border-radius: 5px;
	border-color: darkslategray;
}

.error_message{
	color: black;
	margin-top: 20%;
}

.log-name{
	margin-bottom: 30px;
}

.log-btn{
	margin-left: 32px;
}

.SignUpPage{
	width: 400px;
	height: 600px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ccc;
	padding: 15px;
	position: absolute;
	top: 20%;
	left: 40%;
	text-align: center;
}

.signup-btn{
	margin-left: 32px;
}

.pp-uploader{
	margin-left: 32px;
}

.Category{
	position: absolute;
	left: 45%;
	text-align: center;
	margin-top: 100px;
}
