.nav-item{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #737373;
}

.nav-item:hover{
	text-decoration: none;
	color: azure;
}

.adList{
	position: relative;
	left: 21%;
}

.adName{
	text-decoration: none;
	color: #303030;
}

.adName:hover{
	text-decoration: none;
	color: black;
}

.details{
	position: fixed;
	margin-top: 100px;
	left: 21%;
}

.About{
	text-align: justify;
	position: relative;
	margin-top: 100px;
	padding-right: 500px;
	left: 21%;
}