.nav-container{
	width: -webkit-fit-content;
}

.nav-item{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	color: #737373;
}

.nav-item:hover{
	text-decoration: none;
	color: azure;
}

.adList{
	position: relative;
	left: 120%;
}

.adName{
	text-decoration: none;
	color: #303030;
}

.adName:hover{
	text-decoration: none;
	color: black;
}

.details{
	position: fixed;
	margin-top: 100px;
	left: 9%;
}

.About{
	text-align: justify;
	position: relative;
	margin-top: 100px;
	padding-right: 500px;
	left: 21%;
}

.createAd-form{
	position: fixed;
	margin-top: 100px;
	left: 45%;
	text-align: center;
}

.form{
	border: 2px solid grey;
	border-radius: 5px;
	padding: 10px;
}

.NotFound{
	position: relative;
	left: 30%;
}

.yamcha{
	position: fixed;
	margin-top: 100px;
	left: 30%;
}

.yamchaText{
	margin-left: 50px; 
}

.addButton{
	margin-top: 10px;
	margin-left: 10px;
}

.logButton{
	margin-top: 10px;
	margin-left: 10px;
}

.LoginPage{
	padding: 15px;
	position: absolute;
	top: 30%;
	left: 45%;
}

.log-name{
	margin-left: 15px;
}

.log-btn{
	margin-left: 45px;
}